
###> symfony/framework-bundle ###
.env
.env.*
/var/
/vendor/
###< symfony/framework-bundle ###

###> bref/symfony-bridge ###
/.serverless/
###< bref/symfony-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

.idea/

node_modules/
